<!doctype html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="renderer" content="webkit" />
  <title>IE8 React Redux Starter Kit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/console-polyfill/0.3.0/index.min.js"></script>
    <![endif]-->
</head>

<body>
  <div id="container"></div>
</body>

</html>
