<!doctype html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=8">
  <title>IE8 React Redux Starter Kit</title>
  <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/console-polyfill/0.3.0/index.min.js"></script>
  <![endif]-->
  <!-- <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> -->
  <!-- <link href="/css/jplayer.blue.monday.css" rel="stylesheet"> -->
  <script src="/js/jquery.min.js"></script>
  <!-- <script src="/js/jquery.jplayer.min.js"></script> -->
  <script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts.min.js"></script>
</head>

<body>
  <div id="container"></div>
</body>

</html>
