<!doctype html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="renderer" content="webkit" />
  <title>IE8 React Redux Starter Kit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/console-polyfill/0.3.0/index.min.js"></script>
  <![endif]-->
  <script src="//api.html5media.info/1.2.2/html5media.min.js"></script>
  <script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts.min.js"></script>
</head>

<body>
  <div id="container"></div>
</body>

</html>
