html,
body {
    height: 100%;
    text-align: center
}

.ctl {
    text-align: center;
    margin: 0 auto;
    width: 75%;
    height: 75%;
}

#vssplayer {
    width: 100%;
    height: 100%;
    /*position:absolute;*/
    text-align: center;
    background: #000;
    margin: 0 auto;
    border: 1px solid #F00
}

#div_btn {
    width: 80%;
    height: 20%;
    margin-top: 20px;
    /*position:absolute;*/
    text-align: center;
    margin: 0 auto;
}

.tab {
    width: 100%;
    height: 100%;
    text-align: center;
}

.tab table {
    width: 80%;
    height: 100%;
    text-align: center;
}

.tab input,.tab select {
    width: 100px;
    height: 25px;
    margin-left: 20px;
    text-align: center;
}